
body {
    font-family: "Inter", sans-serif;
  
}
form{
    background-color: white;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

form > p{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50%;
    padding: 10px;
}

form > p > label{
    font-size: 16px;
    font-weight: 700;
    color: #293462;
}

form> p> input{
    border-radius: 3px;
    border: 1px #10bef5 solid;
    padding: 3px; 
    outline: none;
    font-size: 14px;
    height: 33px;
}

form> input[type=submit]{
    border: none;
    height: 40px;
    width: calc(50% - 40px);
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 5px;
    background-color: #293462;
    color: white;
   
}


form> p> input[type=checkbox]{
    border-radius: 5px;
    border: 2px #293462 solid;
    padding: 3px;
}

form> p> select{
    border-radius: 3px;
    border: 1px #10bef5 solid;
    padding: 3px;
    height: 33px;
}

.header-d{
    padding: 10px;
    width: 100%;
    font-size: 30px;
    color: #293462;
}