{% extends 'dashboardskeleton.html' %}

{% block body %}
<link rel="stylesheet" href="/static/css/profile.css">
<div class="d-body">
    <div class="profileBody">
        <div class="profileHeader"></div>
        <div class="cusRow">
            <div class="profilePhoto"></div>
            <div class="headerInfo">
                <span class="t-white infoH1">MD Aamir</span>
                <span class="t-white infoH2">+9779893843</span>
                <span class="t-blue infoH2">Location</span>
            </div>
        </div>
        <div class="navigationMenu" id="navigationMenu">
            <span class="nav-bt">
                <span>General</span>
                <div class="selected-nav" id="general"></div>
            </span>
            <span class="nav-bt">
                <span>Parents</span>
                <div class="" id="parents" id="general"></div>
            </span>
            <span class="nav-bt">
                <span>Fees Payments</span>
                <div class="" id="payments"></div>
            </span>
            <span class="nav-bt">
                <span>Attendance</span>
                <div class="" id="Attendance"></div>
            </span>
            <span class="nav-bt">
                <span>Hall Ticket</span>
                <div class="" id="ticket"></div>
            </span>
            <span class="nav-bt">
                <span>Homework</span>
                <div class="" id="homework"></div>
            </span>
            <span class="nav-bt">
                <span>Library Information</span>
                <div class="" id="library"></div>
            </span>
            
        </div>
        
        <hr>

        {% comment %} <div>
            Name  : Aamir <br>
            Class:  11 <br>
            Roll no : - <br>
            Name  : Aamir <br>
            Class:  11 <br>
            Roll no : - <br>Name  : Aamir <br>
            Class:  11 <br>
            Roll no : - <br>

        </div> {% endcomment %}
    </div>
   
   

  </div>

{% endblock body %}